<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{student.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <h2>Name : {{student.name}}</h1>
      <h2>Country : {{student.country}}</h2>
      <h2>About me:</h3>
      <p>{{student.introduction}}</p>
  </div>
  <div class="col-md-8 ">
    <h3>預約課程</h3>
    {{#each booking}}
    <div class="list-group-item">
      <ul>
        <li><strong>時間</strong> : 
        {{relativeTimeFromNow this.Course.startTime}} 
        {{periodCut this.Course.startTime this.Course.endTime this.Course.spendTime timePeriod}}
        </li>
        <li><strong>老師</strong> : {{this.Course.User.name}}</li>
        <li><strong>課程名稱</strong> : {{this.Course.courseName}}</li>
        <li><strong>Link</strong> : <a href="{{this.Course.link}}">{{this.Course.link}}</a></li>
      </ul>
    </div>
    {{/each}}
    <h3>尚未評論課程</h3>
    {{#each uncomments}}
    <div class="card mb-3 my-3" style="max-width: 300px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{this.Course.User.avatar}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{this.Course.User.name}}</h5>
            <a href="/user/{{this.id}}/comment"type="button" class="btn btn-outline-primary">score</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<a href="/user/{{student.id}}/edit" class="btn btn-primary btn-block">Edit</a>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
